# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml/
/3. Codes.iml/
/compiler.xml/
/misc.xml/
/modules.xml/
/runConfigurations.xml/
/*.class/